#content-page {
  @apply flex flex-col justify-center items-center gap-8;

  @screen xs {
    @apply gap-0;
  }

  .content-page-wrapper {
    @apply flex flex-col justify-center items-center gap-8;

    @screen xs {
      @apply gap-2;
    }
  }
}