@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

.blog-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;

	.blog-section-title {
		font-weight: 600;
		font-size: 2rem;
		margin: 0;
		animation: fade-in-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

		@media (max-width: $sm) {
			text-align: center;
		}
	}

	p {
		font-size: 1.3rem;
		word-break: break-word;
		font-weight: 400;
		line-height: 1.71429rem;
		margin-bottom: 2rem;
		text-align: justify;
		text-justify: inter-word;
		animation: fade-in-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		animation-delay: $animation-delay;

		@media (max-width: $xs) {
			font-size: 1rem;
		}
	}

	.blog-section-image {
		align-self: center;
		cursor: pointer;

		// img {
		// 	height: 25rem;
		// 	width: 35rem;

		// 	@media (max-width: $md) {
		// 		height: 20rem;
		// 		width: 30rem;
		// 	}

		// 	@media (max-width: $sm) {
		// 		height: 10rem;
		// 		width: 15rem;
		// 	}
		// }
	}

	.blog-section-image-hoverable {
		cursor: pointer;
	}

	.blog-section-list {
		list-style: unset;
		padding: 0 2rem;
	}

	.blog-section-list-item {
		font-size: 1.3rem;
		padding: 0.5rem 0;
	}
}
