.blog-section {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;

	.blog-section-title {
		font-weight: 600;
		font-size: 2rem;
		margin: 0;
	}

	p {
		font-size: 1.14rem;
		word-break: break-word;
		font-weight: 400;
		line-height: 1.71429rem;
		margin-bottom: 1rem;
	}

	.blog-section-image {
		align-self: center;
		width: 100%;
	}

	.blog-section-list {
		list-style: unset;
		padding: 0 2rem;
	}

	.blog-section-list-item {
		font-size: 1.2rem;
		padding: 0.5rem 0;
	}
}
