@import "src/styles/colors.scss";
@import "src/styles/constants.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.blog-image-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 1rem;
	width: 100%;
	animation: fade-in-bl $animation-length cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation-delay: $animation-delay + 0.3s;

	.blog-image-caption {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		font-weight: 500;
	}

	.image-gallery-fullscreen-button {
		color: var(--theme-primary, $primary);

		svg {
			height: 2rem;
			width: 2rem;

			@media (max-width: $sm) {
				height: 1rem;
				width: 1rem;
			}
		}
	}

	.blog-image-section-inverted {
		.image-gallery-fullscreen-button {
			color: var(--theme-bg-primary, $bg-primary);
		}
	}

	.image-gallery-content.fullscreen {
		background: var(--theme-bg-primary, $bg-primary) !important;
	}

	.fullscreen-modal {
		background: var(--theme-bg-primary, $bg-primary) !important;
		bottom: 0;
		height: 100%;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 5;
		overflow-y: none;

		.image-gallery-content {
			top: 50%;
			transform: translateY(-50%);
		}

		.image-gallery-image {
			max-width: unset !important;
			height: 80%;
			width: 80%;
		}
	}
}
