@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#landing-page {
	background-color: var(--theme-bg-primary, $bg-primary);
	font-family: "General Sans", sans-serif;
	height: 100vh;

	@apply h-[100vh] flex justify-between gap-8 p-10;

	@screen lg {
		@apply pt-8 flex-col justify-start gap-10;
	}

	@screen md {
		@apply pt-6;
	}
}
