@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#blog {
	background-color: var(--theme-bg-primary, $bg-primary);
	font-family: "General Sans", sans-serif;
	position: relative;

	.blog-wrapper {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		padding: 3rem 7.5rem;

		@media (max-width: $lg) {
			padding: 3rem 5rem;
		}

		@media (max-width: $md) {
			padding: 3rem 4rem;
		}

		@media (max-width: $sm) {
			padding: 3rem 2rem;
		}
	}

	.blog-back-container {
		width: 100%;
		text-transform: uppercase;
		gap: 0.5rem;
		color: var(--theme-primary, $primary);
		opacity: 0.5;
		letter-spacing: 0.1rem;
		margin: 3rem;
		
		@apply mb-0 ml-4;

		.blog-back-text-container {
			font-size: 1.1rem;
			width: fit-content;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.blog-back-icon {
			transform: rotate(180deg);
			font-size: 1.2rem;
		}
	}

	.blog-content-wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		color: var(--theme-primary, $primary);

		@media (max-width: $lg) {
			grid-template-columns: repeat(16, 1fr);
		}

		.blog-content {
			grid-column: 2/12;

			@media (max-width: $lg) {
				grid-column: 2/16;
			}
		}

		.hr {
			border: 1px solid var(--theme-primary, $primary);
			@apply w-full mt-8 mb-16;

			@screen sm {
				@apply mb-4;
			}
		}
	}
}
