@import "src/styles/colors.scss";

#blog {
	background-color: var(--theme-bg-primary, var(--theme-bg-primary, $bg-primary));
	font-family: "General Sans", sans-serif;
	position: relative;

	.blog-wrapper {
		display: flex;
		flex-direction: column;
		gap: 6rem;
		padding: 3rem 7.5rem;
	}

	.blog-back-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1.14rem;
		text-transform: uppercase;
		gap: 0.5rem;
		color: var(--theme-primary, $primary);
		opacity: 0.5;
		letter-spacing: 0.1rem;
		margin: 1rem 0;

		.blog-back-text-container {
			font-size: 1.1rem;
			grid-column: 2/12;
			width: fit-content;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;
		}

		.blog-back-icon {
			transform: rotate(180deg);
			font-size: 1.2rem;
		}
	}

	.blog-content-wrapper {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		color: var(--theme-primary, $primary);

		.blog-content {
			grid-column: 3/12;
		}

		.hr {
			width: 100%;
			border: 1px solid var(--theme-primary, $primary);
			margin-top: 2rem;
			margin-bottom: 4rem;
		}

		.blog-title {
			font-size: 4.5rem;
			font-weight: 600;
			margin: 0;
			margin-bottom: 0.7rem;
			font-family: "Lora", sans-serif;
		}
	}
}
