@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

.subtitle-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;

	@media (max-width: $xs) {
		flex-direction: unset;
		flex-wrap: wrap;
		align-items: flex-start;
		row-gap: 1rem;
		margin-top: 1rem;
	}

	.subtitle-colors {
		@media (max-width: $xs) {
			flex: 1 0 100% !important;
		}
	}

	.subtitle {
		font-size: 1.1rem;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0;
		display: flex;
		gap: 1rem;

		@media (max-width: $md) {
			font-size: 1rem;
			justify-content: flex-start;
			white-space: nowrap;
			word-wrap: break-word;
			overflow-wrap: break-word;
		}

		@media (max-width: $xs) {
			font-size: 0.8rem;
			flex-direction: column;
			gap: 0.25rem;
		}

		.subtitle-prefix {
			font-weight: 500;
			align-self: center;
			min-width: 4rem;
			max-width: 4rem;

			@media (max-width: $xs) {
				margin-bottom: 0.5rem;
			}
		}

		// .subtitle-color-chip {
		// 	cursor: pointer;
		// 	border: 1px solid rgba(0, 0, 0, 0.7);
		// 	padding: 0.7rem;
		// 	font-weight: 500;
		// 	font-size: 0.8rem;
		// 	letter-spacing: 0.1rem;
		// 	border-radius: 16px;
		// 	min-width: 10rem;
		// 	max-width: 10rem;
		// 	text-align: center;

		// 	@media (max-width: $xs) {
		// 		font-size: 0.3rem;
		// 		font-size: 0.6rem;
		// 		width: 30%;
		// 		align-self: center;
		// 		text-align: center;
		// 	}
		// }

		.subtitle-prefix {
			color: var(--theme-primary, $primary);
			font-weight: 500;
			animation: fade-in-bl $animation-length cubic-bezier(0.39, 0.575, 0.565, 1) both;
			animation-delay: $animation-delay;
		}

		.subtitle-content {
			color: var(--theme-primary, $primary);
			display: inline-flex;
			text-align: center;
			gap: 1rem;

			@media (max-width: $xs) {
				flex-direction: column;
				text-align: start;
			}

			.subtitle-content-item {
				display: inline-flex;
				align-items: center;
			}

			.subtitle-content-dot {
				font-size: 0.8rem;
				margin: 0 0.5rem;
			}

			.subtitle-content-pill {
				border: 1px solid var(--theme-primary, $primary);
				padding: 0.6rem;
				font-weight: 500;
				font-size: 0.7rem;
				letter-spacing: 0.1rem;
				border-radius: 16px;
				cursor: pointer;
				min-width: 10rem;
				max-width: 10rem;
				text-align: center;
				animation: fade-in-bl $animation-length cubic-bezier(0.39, 0.575, 0.565, 1) both;
				animation-delay: $animation-delay + 0.2s;

				@media (max-width: $sm) {
					min-width: 8rem;
					max-width: 8rem;
					letter-spacing: 0rem;
				}

				@media (max-width: $xs) {
					min-width: 6rem;
					max-width: 6rem;
					font-size: 0.3rem;
					font-size: 0.6rem;
				}
			}

			.subtitle-content-pill-link {
				transition: 0.5s background-color, 0.5s border-color, 0.5s color, 0.5s fill;
			}

			.subtitle-content-pill-link:hover {
				background-color: var(--theme-primary, $primary);
				color: var(--theme-bg-primary, $bg-primary);
			}

			.subtitle-content-pill-on-primary {
				border: 1px solid $bg-primary;
			}
		}
	}
}
