@import "src/styles/colors.scss";

.subtitle-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.subtitle-colors {
		padding-top: 1rem;
	}

	.subtitle {
		font-size: 1.1rem;
		text-transform: uppercase;
		font-weight: 400;
		margin: 0;
		display: flex;
		gap: 1rem;

		.subtitle-prefix {
			font-weight: 500;
			align-self: center;
		}

		.subtitle-color-chip {
			cursor: pointer;
			border: 1px solid black;
			padding: 0.5rem;
			font-weight: 400;
			font-size: 0.8rem;
			letter-spacing: 0.1rem;
		}

		.subtitle-prefix {
			color: var(--theme-primary, $primary);
			font-weight: 500;
		}

		.subtitle-content {
			color: var(--theme-primary, $primary);
			display: inline-flex;
			text-align: center;

			.subtitle-content-dot {
				font-size: 1rem;
				line-height: normal;
				margin: 0 0.5rem;
			}
		}
	}
}
