@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#image-section {
	@apply flex flex-col justify-between min-w-full gap-8;
	overflow-y: scroll;
	aspect-ratio: 143/100;
	max-width: 650px;
	min-width: 650px;

	@screen xl {
		max-width: 575px;
		min-width: 575px;
	}

	@screen lg {
		@apply h-full max-h-full min-w-full items-center;
		object-position: left center;
	}
}
