@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#image-section {
	width: 70vw;
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-template-rows: auto;
  gap: 16px;
	overflow-y: scroll;

	@screen lg {
		width: 100vw;
		max-width: 100%;
		justify-content: center;
	}
}
