@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

.image-section {
	position: relative;
	margin: 4rem 6rem;
	flex: 50%;
	overflow-y: scroll;

	&:hover #scroll-indicator {
		opacity: 1;
	}

	@media (max-width: $md) {
		padding: unset;
		flex: 60%;
		margin: 2rem;
	}
}

.image-wrapper {
	position: relative;
	font-size: 20px;
	display: flex;
	flex-direction: column;

	@media (max-width: $md) {
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
	}

	@media (max-width: $sm) {
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
}
