@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

.image-section {
	position: relative;
	padding: 4rem 4rem;
	flex: 60%;
	overflow-y: scroll;

	@media (max-width: $lg) {
		padding: 2rem 2rem;
		padding-left: 0rem;
		flex: 65%;
	}

	@media (max-width: $md) {
		padding: unset;
		flex: 100% 1;
		margin: 2rem;
	}

	@media (max-width: $xs) {
		padding: 0;
		margin: 0;
	}

	&:hover #scroll-indicator {
		opacity: 1;
	}
}

.image-wrapper {
	position: relative;
	font-size: 20px;
	display: flex;
	flex-direction: column;
	animation: fade-in-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

	@media (max-width: $md) {
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
	}

	@media (max-width: $sm) {
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
}
