@import "/src/styles/colors.scss";

.work-with-me-button {
	margin: 1.5rem 0;
	display: inline-block;
	box-sizing: border-box;
	padding: 1.5rem 2rem;
	width: 16rem;
	font-size: 1rem;
	text-align: center;
	justify-content: center;
	inset: 0px;
	align-items: center;
	border-radius: 999em;
	text-decoration: none;
	background-color: var(--theme-primary, $primary);
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	border: 1px solid var(--theme-primary, $primary);
	transition: 0.5s background-color, 0.5s border-color, 0.5s color, 0.5s fill;
	color: var(--theme-bg-primary, $bg-primary);
	letter-spacing: 0.17rem;
}

.work-with-me-button:hover {
	background-color: var(--theme-bg-primary, $bg-primary);
	color: var(--theme-primary, $primary);
}
