$bg-primary: #f1e1e1;
$primary: #a41109;
$secondary: #a41109;
$bg-navbar: rgba(246, 232, 231, 0);
$linkedin-primary: rgb(0, 119, 181);
$figma-primary: rgb(162, 89, 255);
$pinterest-primary: rgb(230, 0, 35);
$instagram-primary: rgb( 247 119 55);
