// Extra Small devices (portrait phones)
$xs: 576px;

// Small devices (landscape phones)
$sm: 768px;

// Medium devices (tablets)
$md: 992px;

// Large devices (desktops)
$lg: 1200px;

// Extra Large devices (large desktops)
$xl: 1600px;

$animation-length: 0.7s;
$animation-delay: 0.3s;
