@font-face {
	font-family: "Inria Serif";
	src: url("/fonts/inria/InriaSerif-Regular_1.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Inria Serif";
	src: url("/fonts/inria/InriaSerif-Italic_1.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Inria Serif";
	src: url("/fonts/inria/InriaSerif-Light_1.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Inria Serif";
	src: url("/fonts/inria/InriaSerif-Bold_1.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Inria Serif";
	src: url("/fonts/inria/InriaSerif-BoldItalic_1.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Istok Web";
	src: url("/fonts/istok/IstokWeb-Regular_1.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
