@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

$xxl-width: 714px;
$md-width: 595px;
$sm-width: 536px;
$xs-width: 417px;
$xxs-width: 357px;
$xxxs-width: 298px;

html,
body,
#root {
	background-color: $bg-primary;
}

#resume {
	color: $primary;
	background-color: $bg-primary;

	.resume-navigation-pagination {
		@apply flex justify-between items-center mb-4 text-2xl;
		width: $xxl-width;

		@screen md {
			width: $md-width;
		}

		@screen sm {
			@apply text-xl;
			width: $sm-width;
		}

		@screen xs {
			@apply text-base;
			width: $xs-width;
		}

		@screen xxs {
			@apply text-sm;
			width: $xxs-width;
		}

		@screen xxxs {
			width: $xxxs-width;
		}

		.resume-navigation-toggle {
			background-color: "#E08181";

			&[data-state="checked"] {
				background-color: $primary;
			}
		}

		.navigation-md {
			@apply flex items-center justify-between font-medium gap-4;

			@screen md {
				@apply gap-2;
			}
		}

		.resume-download-button {
			@apply inline-flex items-center font-medium cursor-pointer gap-2;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				@apply opacity-65;
			}
		}

		.navigation-icon-md {
			@apply hidden h-5 w-5 cursor-pointer font-bold;

			@screen lg {
				@apply block;
			}

			@screen xxs {
				@apply hidden;
			}
		}

		.navigation-icon-next {
			@apply rotate-180;

			@screen lg {
				@apply block;
			}

			@screen xxs {
				@apply hidden;
			}
		}
	}

	.resume-navigation-controls {
		width: 714px;

		@screen lg {
			width: 650px;
		}

		@screen md {
			justify-content: center;
			gap: rem;
			width: 100%;
		}
	}

	.resume-k-disabled {
		color: gray !important;
		cursor: not-allowed !important;
	}

	.resume-navigation-disabled {
		background: gray !important;
		cursor: not-allowed !important;
	}

	.resume-iframe {
		position: relative;
		width: 100%;
		height: 80vh;
	}

	.resume-pdf-document-wrapper {
		@apply relative flex justify-center items-center z-0;

		.resume-pdf-document {
			overflow: scroll;

			.resume-pdf-loader {
				@apply flex justify-center items-center w-[595px] h-[926px];

				@screen md {
					height: 768px;
					width: $md-width;
				}

				@screen sm {
					height: 714px;
					width: $sm-width;
				}

				@screen xs {
					height: 842px;
					width: $xs-width;
				}

				@screen xxs {
					height: 505px;
					width: $xxs-width;
				}

				@screen xxxs {
					height: 421px;
					width: $xxxs-width;
				}
			}
		}

		.resume-navigation {
			@apply absolute px-12 w-full h-full flex justify-between;

			@screen lg {
				@apply hidden;
			}

			.resume-navigation-disabled {
				background: gray !important;
				cursor: not-allowed !important;
			}

			.resume-page-button {
				position: absolute;
				height: 4rem;
				width: 4rem;
				border-radius: 50%;
				cursor: pointer;
				background-color: $primary;
				color: $bg-primary;
				top: 50%;
			}

			.resume-previous-page {
				left: 0;
				margin-left: -5rem;
			}

			.resume-next-page {
				right: 0;
				transform: rotate(180deg);
				margin-right: -5rem;
			}
		}
	}

	.navigation-xs {
		@apply hidden gap-10 justify-center w-full mt-4;

		@screen xs {
			@apply flex;
		}

		.navigation-xs-button {
			@apply h-14 w-14;
		}
	}
}
