@import "src/styles/colors.scss";

#navbar {
	position: sticky;
	top: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 6rem;
	background-color: var(--theme-bg-navbar, $bg-navbar);

	a:not(:last-child) {
		color: var(--theme-primary, $primary);
	}

	.navbar-heading {
		font-size: 2.7rem;
		color: var(--theme-primary, $primary);
		transform-origin: 0 0;
		font-weight: bold;
		cursor: pointer;
	}

	.navbar-heading-down-animation {
		animation-name: scaleDown;
	}

	.navbar-heading-up-animation {
		animation-name: scaleUp;
	}

	.navbar-submenu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 30%;
		letter-spacing: 0.107rem;
	}

	.navbar-submenu a {
		cursor: pointer;
	}

	.nav-wwm-button a {
		width: 12.5rem;
		padding: 1.35rem;
		font-size: 1rem;
		margin: 0;
		letter-spacing: 0.1rem;
		font-weight: 500;
	}
}

@keyframes scaleDown {
	from {
		font-size: 2.7rem;
	}
	to {
		font-size: 2rem;
	}
}

@keyframes scaleUp {
	from {
		font-size: 2rem;
	}
	to {
		font-size: 2.7rem;
	}
}
