@import "src/styles/constants.scss";

#navbar {
	@apply sticky top-0 left-0 z-20 w-full
		flex justify-between items-center px-8 py-6
		bg-navbar-bg text-navbar-bg-text;

	@screen sm {
		@apply px-8 py-6;
	}

	.navbar-heading {
		@apply text-4xl font-semibold cursor-pointer;

		@screen lg {
			@apply text-3xl;
		}
	}

	.navbar-heading-down-animation {
		animation-name: scaleDown;
	}

	.navbar-heading-up-animation {
		animation-name: scaleUp;
	}

	.navbar-submenu {
		@apply flex justify-between items-center w-[50%] text-xl;

		@screen xl {
			@apply w-[65%];
		}
		
		@screen lg {
			@apply hidden;
		}

		a {
			@apply cursor-pointer;
		}

		.nav-wwm-button a {
			@apply w-52 p-4 text-sm font-medium m-0;

			@screen lg {
				@apply w-40 text-xs p-4; 
			}
		}
	}

	.navbar-hamburger-menu {
		@apply hidden;

		@screen lg {
			@apply block;
		}
	}

	.hamburger-menu-open-icon {
		@apply hidden absolute top-8 right-8 z-30 h-8 w-8 cursor-pointer;
		animation: fade-in-bl 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

		@screen lg {
			&.icon-open {
				@apply block;
			}
		}
	}
	
	.hamburger-menu-close-icon {
		@apply hidden absolute top-8 right-8 h-8 w-8 z-30 cursor-pointer
			animate-fadeIn;
	
		@screen lg {
			&.icon-open {
				@apply block;
			}
		}
	}
}

@keyframes scaleDown {
	from {
		@apply text-5xl;
	}
	to {
		@apply text-4xl;
	}
}

@keyframes scaleUp {
	from {
		@apply text-4xl;
	}
	to {
		@apply text-5xl;
	}
}
