@import "src/styles/constants.scss";

.hamburger-navbar-overlay {
	@apply fixed top-0 left-0 
		w-full h-[0%] pt-12
		opacity-0 invisible overflow-hidden
		bg-background 
		font-general
		transition-opacity transition-visibility transition-height duration-300;

	&.open {
		@apply opacity-100 visible h-[100%];

		li {
			animation: fadeInRight .4s ease forwards;
			animation-delay: .1s;
			
			&:nth-of-type(2) {
				animation-delay: .2s;
			}
			&:nth-of-type(3) {
				animation-delay: .3s;
			}
			&:nth-of-type(4) {
				animation-delay: .4s;
			}
		}
	}

	nav {
		@apply h-full w-full text-2xl flex justify-center font-medium text-center text-primary;
	}

	ul {
		@apply flex gap-16 justify-center items-center
			list-none p-0 m-0;
		
		li {
			@apply block relative opacity-0;
			
			a {
				@apply block relative no-underline overflow-hidden;
				
				&:hover:after,
					&:focus:after,
					&:active:after {
						@apply w-full;
					}
				
				&:after {
					@apply absolute bottom-0 left-1/2 w-0 h-[3px] text-primary
					duration-300 transform -translate-x-1/2;
					content: '';
				}
			}
		}
	}	
}

@keyframes fadeInRight {
  0% {
		@apply opacity-0 left-[20%];
  }
  100% {
		@apply opacity-100 left-0;
  }
}

.transition-visibility {
  transition: visibility 0.35s;
}

.transition-height {
  transition: height 0.35s;
}
