@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

.hamburger-menu {
	font-family: "General Sans", sans-serif;

	.hamburger-menu-icon {
		height: 2rem;
		width: 2rem;
		cursor: pointer;
		position: absolute;
		top: 0.6rem;
		right: 2rem;
		transition: 0.3s ease;
	}

	.menu-items {
		position: absolute;
		display: flex;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: var(--theme-bg-primary, $bg-primary);
		align-items: center;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		z-index: 3;
		visibility: visible;
		animation: fadeColor 0.5s alternate ease-in-out;

		@keyframes fadeColor {
			0%,
			100% {
				background-color: transparent;
			}
			50% {
				background-color: var(--theme-bg-primary, $bg-primary);
			}
		}

		.menu-items-list {
			display: flex;

			flex-direction: column;
			gap: 2rem;

			li {
				animation-delay: 0;
			}

			li:nth-child(1) {
				animation: slide-in-left $animation-length both;
			}

			@for $i from 1 through 10 {
				li:nth-child(#{$i}) {
					animation: slide-in-left 0.5s both;
					animation-delay: $i * 0.05s;
				}
			}
		}
	}
}

.hamburger-menu-close-icon {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;
}

.hamburger-menu-open-true {
	.hamburger-menu-open-icon {
		display: none;
	}

	.hamburger-menu-close-icon {
		display: block;
	}

	.menu-items {
		visibility: visible;
	}
}

.hamburger-menu-open-false {
	.hamburger-menu-open-icon {
		display: block;
	}

	.hamburger-menu-close-icon {
		display: none;
	}

	.menu-items {
		visibility: hidden;
	}
}
