<footer class="footer-container">
  <div class="footer-links">
    <div class="footer-column footer-column-nav">
      <a href="./index.html" class="footer-link">Home</a>
      <a href="./index.html#design-projects" class="footer-link">Projects</a>
      <a href="./resume.html" class="footer-link">Resume</a>
      <a href="mailto:hukovic.tajra@gmail.com" class="footer-link">Contact</a>
    </div>
    <div class="footer-column footer-column-social">
      <a href="https://www.figma.com/@htajra" class="footer-link" target="_blank">Figma Community</a>
      <a href="https://www.pinterest.com/PawPix94/" class="footer-link" target="_blank">Pinterest</a>
      <a href="https://www.linkedin.com/in/tajra-hukovi%C4%87-07b338234/" class="footer-link"
        target="_blank">LinkedIn</a>
    </div>
  </div>

  <hr class="footer-divider" />
  <p class="footer-name">Tajra Huković</p>
</footer>