<!-- Navigation -->
<header id="navbar" class="navbar-container">
  <div class="navbar-content">
    <h1 class="navbar-title"><a href="./index.html">Tajra Huković</a></h1>

    <!-- Desktop Navigation -->
    <nav class="navbar-navigation-container hidden md:flex">
      <a href="./index.html" class="navbar-navigation-item">Homepage</a>
      <a href="./index.html#design-projects" class="navbar-navigation-item">Projects</a>
      <a href="./resume.html" class="navbar-navigation-item">Resume</a>
      <a href="./index.html#contact" class="navbar-navigation-item">Contact</a>
    </nav>

    <!-- Hamburger Button (Mobile) -->
    <button id="menu-toggle" class="hamburger-menu md:hidden focus:outline-none" aria-label="Toggle mobile menu">
      <svg class="hamburger-icon w-7 h-7" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path class="hamburger-line-1" stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16">
        </path>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile Navigation -->
<nav id="mobile-menu" class="mobile-menu hidden">
  <div class="mobile-menu-content">
    <a href="./index.html" class="mobile-menu-item">Homepage</a>
    <a href="./index.html#design-projects" class="mobile-menu-item">Projects</a>
    <a href="./resume.html" class="mobile-menu-item">Resume</a>
    <a href="./index.html#contact" class="mobile-menu-item">Contact</a>
  </div>
</nav>