@import "src/styles/colors.scss";

.toggle {
	--width: 80px;
	--height: calc(var(--width) / 3);

	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: var(--height);
	cursor: pointer;

	input {
		display: none;
	}

	.slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: var(--height);
		background-color: $primary;
		transition: all 0.4s ease-in-out;
	}

	.slider::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--height));
		height: calc(var(--height));
		border-radius: calc(var(--height) / 2);
		background-color: #fff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
		transition: all 0.4s ease-in-out;
	}

	input:checked + .slider {
		background-color: #38343c;
	}

	input:checked + .slider::before {
		transform: translateX(calc(var(--width) - var(--height)));
	}

	.labels {
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 12px;
		font-family: "General Sans", sans-serif;
		transition: all 0.4s ease-in-out;
		text-transform: uppercase;
	}

	.labels::after {
		content: attr(data-off);
		position: absolute;
		right: 5px;
		color: #ffffff;
		opacity: 1;
		transition: all 0.4s ease-in-out;
		margin-right: 3px;
	}

	.labels::before {
		content: attr(data-on);
		position: absolute;
		left: 5px;
		color: #ffffff;
		opacity: 0;
		transition: all 0.4s ease-in-out;
		margin-left: 6px;
	}

	input:checked ~ .labels::after {
		opacity: 0;
	}

	input:checked ~ .labels::before {
		opacity: 1;
	}
}
