@import "src/styles/constants.scss";

.tag-section-wrapper {
  @apply flex flex-col justify-start items-start gap-6;

  .tag-section {
    @apply flex flex-col items-start gap-2 text-lg uppercase m-0;

    .tag-section-prefix {
      animation: fade-in-bl $animation-length cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation-delay: $animation-delay;

      @apply w-full self-center 
        font-semibold text-base text-primary;

      @screen sm {
        @apply text-sm;
      }
    
    }

    .tags-badge-wrapper {
      @apply flex flex-wrap gap-2;

      .tag-badge {
        transition: 0.5s background-color, 0.5s border-color, 0.5s color, 0.5s fill;
        @apply px-4 py-1 
          bg-transparent text-tag-text border-secondary
          cursor-default text-sm tracking-wider;

        @screen sm {
          @apply text-xs;
        }

        @screen xs {
          @apply text-[0.7rem];
        }
      }

      .tag-color-badge {
        &:hover {
          @apply cursor-copy;
        }
      }

      .tag-link-badge {
        &:hover {
          @apply cursor-pointer text-tag-hover-text bg-tag-hover-bg;
        }
      }
    }
  }
}
