@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	padding: 2rem 30rem;

	.footer-quick-links {
		display: flex;
		justify-content: space-around;
		gap: 2rem;

		li {
			font-weight: 500;
			font-size: 1rem;
			line-height: 1.4rem;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	.footer-external-quick-links {
		display: flex;
		justify-content: space-between;
		gap: 1rem;

		.footer-external-quick-link-item {
			font-weight: 500;
			cursor: pointer;

			.footer-external-quick-link-icon {
				height: 2.5rem;
				width: 2.5rem;
				color: var(--theme-primary, $primary);
				transition: color 0.5s;
				animation-delay: 0.65s;
			}

			.info-quick-link-item-icon span {
				line-height: 100%;
			}
		}
	}

	.footer-copyright-section {
		display: inline-flex;
		align-items: center;
		gap: 0.3rem;

		font-size: 0.9rem;
		color: var(--theme-primary, $primary);
		text-transform: uppercase;
		font-weight: 400;

		a {
			display: flex;
			align-items: center;
		}
	}

	.footer-copyright-contra-icon {
		height: 17px;
		width: 65px;
	}

	.footer-developed-by {
		font-weight: 500;
	}
}
