@import "src/styles/colors.scss";
@import "src/styles/constants.scss";

#footer {
	@apply flex flex-col items-center p-4;

	.footer-container {
		@apply flex flex-col items-center justify-between gap-4;
	}

	.footer-quick-links {
		@apply flex justify-around gap-4;

		li {
			@apply font-medium text-base uppercase cursor-pointer;
		}
	}

	.footer-external-quick-links {
		@apply flex justify-between gap-4;

		.footer-external-quick-link-item {
			@apply font-medium cursor-pointer;

			.footer-external-quick-link-icon {
				height: 2.5rem;
				width: 2.5rem;
				color: var(--theme-primary, $primary);
				transition: color 0.5s;
				animation-delay: 0.65s;

				&:hover {
					color: var(--theme-secondary, $secondary);
				}

				@media (max-width: $xs) {
					height: 2rem;
					width: 2rem;
				}
			}

			.info-quick-link-item-icon span {
				line-height: 100%;
			}
		}
	}

	.footer-copyright-section {
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		gap: 0.3rem;

		font-size: 0.9rem;
		color: var(--theme-primary, $primary);
		text-transform: uppercase;
		font-weight: 400;

		@media (max-width: $xs) {
			font-size: 0.7rem;
			gap: 1rem;
		}

		a {
			display: flex;
			align-items: center;
		}
	}

	.footer-copyright-contra-icon {
		height: 17px;
		width: 65px;
	}

	.footer-developed-by {
		font-weight: 400;
	}

	.footer-inspired-by {
		@apply inline-flex items-center gap-1;
	}

	.footer-developed-by {
		@media (max-width: $xs) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}
