@import "/src/styles/colors.scss";
@import "/src/styles/constants.scss";

.project-image-container {
	position: relative;
	margin-bottom: 1rem;
	height: 100%;
	cursor: pointer;
	overflow: hidden;

	img {
		position: relative;
		transform-origin: 0 0;
		width: 100%;
		background-size: contain;
		transform-origin: center;
		height: 600px;
		transition: transform $animation-length ease;

		@media (max-width: $md) {
			height: 300px;
		}

		@media (max-width: $xs) {
			height: 250px;
		}

		&.project-image-animated {
			animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			animation-fill-mode: forwards;
		}
	}

	&:hover img {
		transform: scale(1.25);
	}

	.project-image-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--theme-primary, $primary);
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: $animation-length opacity ease;
		opacity: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&:hover .project-image-overlay {
		opacity: 1;
	}

	.project-image-title {
		font-weight: 500;
		font-size: 2.7rem;
		margin: 0;
		margin-bottom: 1rem;
		color: white;

		@media (max-width: $md) {
			font-size: 1.5rem;
		}
	}

	.subtitle-prefix {
		color: white !important;
	}

	.subtitle-content {
		color: white !important;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-8 18:3:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(1000px);
		transform: translateX(1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
