@import "/src/styles/colors.scss";
@import "/src/styles/constants.scss";

.project-image-container {
	position: relative;
	width: 100%;
  height: auto;
  object-fit: cover;
	aspect-ratio: 16/9;
	cursor: pointer;

	img {
		transition: transform $animation-length ease;
		object-fit: cover;
		height: 100%;
		width: 100%;

		&.project-image-animated {
			animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
			animation-fill-mode: forwards;
		}
	}

	.project-image-overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--theme-primary, $primary);
		overflow: hidden;
		width: 100%;
		height: 100%;
		transition: $animation-length opacity ease;
		opacity: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		@media (max-width: $xs) {
			box-sizing: border-box;
			padding: 1rem;
		}
	}

	&:hover .project-image-overlay {
		opacity: 1;
	}

	.project-image-title {
		font-weight: 500;
		@apply text-4xl;
		margin: 0;
		margin-bottom: 1rem;
		color: white;

		@screen lg {
			@apply text-2xl;
		}

		@screen lg {
			@apply text-4xl;
		}

		@screen xs {
			@apply text-2xl;
		}

		@screen xxs {
			@apply text-xl;
		}
	}

	.subtitle-prefix {
		color: white !important;
	}

	.subtitle-content {
		color: white !important;
	}
}
