@import "src/styles/colors.scss";

.more-projects-section {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;

	.more-projects-wrapper {
		display: flex;
		gap: 5rem;
	}

	h1 {
		color: var(--theme-primary, $primary);
		font-weight: 600;
		font-size: 3rem;
	}

	.more-projects-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 17rem;
		cursor: pointer;

		img {
			height: 17rem;
			width: 17rem;
		}

		p {
			color: var(--theme-primary, $primary);
			font-weight: 500;
			font-size: 1.5rem;
			text-wrap: wrap;
		}
	}
}
