
:root {
	--mouse-height: 5rem;
	--mouse-width: calc(var(--mouse-height) * 0.6);
	--scroll-size: 5px;
}

#scroll-indicator {
	@apply absolute left-1/2 bottom-[15%] opacity-0 transition-opacity duration-300 ease-in;
}

#scroll-mouse {
	@apply relative w-[var(--mouse-width)] h-[var(--mouse-height)] border-2 border-background rounded-[calc(var(--mouse-height)/2)];
	animation: move-down 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

#scroll-mouse:after {
	content: "";
	@apply absolute bg-background rounded-full;
	width: var(--scroll-size);
	height: var(--scroll-size);
	left: calc(var(--mouse-width) / 2 - var(--scroll-size) / 2);
	animation: scroll-down 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes move-down {
	0% {
		top: 0;
	}
	70% {
		top: calc(var(--mouse-height) * 0.1);
	}
	90% {
		top: 0;
	}
	100% {
		top: 0;
	}
}
@keyframes scroll-down {
	0% {
		top: calc(var(--mouse-width) / 2 - var(--scroll-size) / 2);
		opacity: 1;
	}
	70% {
		top: calc(var(--mouse-height) - var(--mouse-height) * 0.1);
		opacity: 0;
	}
	90% {
		top: calc(var(--mouse-width) / 2 - var(--scroll-size) / 2);
		opacity: 0;
	}
	100% {
		top: calc(var(--mouse-width) / 2 - var(--scroll-size) / 2);
		opacity: 1;
	}
}
