@import "src/styles/colors.scss";

::backdrop,:fullscreen {
	background-color: rgba(0,0,0,0.7);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.image-gallery-lightbox-inline {
	@apply max-w-full w-full aspect-video h-[520px];

	@screen md {
		@apply h-[480px];
	}

	@screen sm {
		@apply h-[320px];
	}

	@screen xs {
		@apply h-[400px];
	}

	@screen xxs {
		@apply h-[430px];
	}

}

.image-gallery-container {
	@apply flex justify-center items-center mt-8 relative w-full overflow-hidden;

	@screen lg {
		@apply block;
	}

	.image-gallery-lightbox,
	.yarl__fullscreen  {
		.yarl__container {
			background-color: rgba(0, 0, 0, 0);
		}

		.yarl__thumbnails_container {
			background-color: rgba(0, 0, 0, 0);
		}

		.yarl__thumbnails_thumbnail {
			background-color: var($primary);
		}

		.yarl__thumbnails_vignette {
			background: linear-gradient(to right,
				var(--yarl__color_backdrop, var(--theme-bg-primary, $bg-primary)) 0,
				transparent var(--yarl__thumbnails_vignette_size,12%) calc(100% - var(--yarl__thumbnails_vignette_size, 12%)),
				var(--yarl__color_backdrop, var(--theme-bg-primary, $bg-primary)) 100%
				)
		}
	}

}
