
.image-gallery-container {
	@apply w-full my-4 flex justify-center;

	.image-gallery-slider {
		@apply w-[80%] h-fit;

		@screen md {
			@apply w-full;
		}
	
		.image-gallery-slider-wrapper {
			display: flex !important;
			@apply justify-center items-center overflow-hidden;

			// @apply h-[600px] 
			// 	lg:h-[300px]
			// 	md:h-[250px] 
			// 	sm:h-[350px];
		}
	
		.slick-slide, 
		.slick-slide > div:first-of-type {
			@apply h-full;
		}

		.slick-arrow {
			z-index: 100;
		}
	
		.slick-arrow:before {
			font-size: 2rem;
			color: var(--theme-primary);
		}
	
		.slick-prev {
			@apply left-[-50px];

			@screen md {
				@apply left-[-40px]
			}
		}
	
		.slick-next {
			@apply right-[-40px];

			@screen md {
				@apply right-[-30px];
			}
		}
	
		img {
			cursor: pointer;
		}
	
		.slider-dots-section {
			display: flex !important;
			@apply justify-center mt-4 overflow-x-scroll gap-4 p-2;
	
			.slick-active {
				border-color: var(--theme-primary);
				box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
							transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
			}
	
			img {
				@apply h-[100px] w-full p-1 cursor-pointer;
				transition: box-shadow 0.2s ease-in-out;
	
				&:hover {
					box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
									// box-shadow: var(--theme-bg-navbar) 0px 2px 8px 0px;
				}
			}
		}
	}
}
