@import "src/styles/colors.scss";

a {
	color: var(--theme-primary, $primary);
	text-decoration: none !important;
}

ul {
	list-style: none;
	padding: unset;
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--theme-bg-primary, $bg-primary);
	font-family: "General Sans", sans-serif;
}

.satoshi {
	font-family: "Satoshi", sans-serif;
}
