@import "src/styles/colors.scss";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
	color: var(--theme-primary, $primary);
	text-decoration: none !important;
}

ul {
	list-style: none;
	padding: unset;
}

html,
#root {
	width: 100%;
	height: 100%;
}

.satoshi {
	font-family: "Satoshi", sans-serif;
}

.underline-effect {
	position: relative;
	padding: 0.2em 0;
}

.underline-effect::after {
	position: absolute;
	content: "";
	background: var(--theme-primary, $primary);
	bottom: 0;
	right: 0;
	height: 2px;
	width: 0%;
	transition: 300ms ease-in-out;
}

.underline-effect:hover::after {
	width: 100%;
	left: 0;
}
