@import "/src/styles/colors.scss";
@import "src/styles/constants.scss";

.info-section {
	position: relative;
	color: var(--theme-primary, $primary);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	box-sizing: border-box;
	flex: 50%;

	@media (max-width: $md) {
		justify-content: center;
		padding: unset;
		flex: 40%;
	}

	.info-section-content {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		box-sizing: border-box;
		padding: 4rem 6rem;

		@media (max-width: $md) {
			position: relative;
			justify-content: center;
			padding: unset;
			gap: 2rem;
			padding: 2rem;
		}

		.info-section-title-wrapper {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media (max-width: $md) {
				align-items: center;
			}

			.info-section-title {
				font-size: 4rem;
				font-weight: 500;
				margin: 0;
				line-height: 3.8rem;
				-webkit-animation: slide-in-left $animation-length both;
				animation: slide-in-left $animation-length both;
				margin-bottom: 1rem;

				@media (max-width: $md) {
					font-size: 3rem;
				}

				@media (max-width: $xs) {
					font-size: 2rem;
				}
			}

			.info-section-subtitle {
				font-weight: 500;
				margin: 0;
				-webkit-animation: slide-in-left $animation-length both;
				animation: slide-in-left $animation-length both;

				@media (max-width: $xs) {
					font-size: 1.5rem;
				}

				@media (max-width: $xs) {
					font-size: 1rem;
				}
			}
		}

		.info-portfolio-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			@media (max-width: $md) {
				justify-content: center;
				align-items: center;
			}

			.info-portfolio-items {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				@media (max-width: $md) {
					align-items: flex-start;
				}

				.info-portfolio-item {
					display: inline-flex;
					justify-content: flex-start;
					gap: 0.5rem;
					align-items: center;
					position: relative;

					text-transform: uppercase;
					cursor: pointer;
					margin-right: auto;
					font-weight: 500;
					line-height: 1.4;
					letter-spacing: 0.107rem;
					font-size: 1.14rem;
					-webkit-animation: slide-in-left $animation-length both;
					animation: slide-in-left $animation-length both;

					.info-portfolio-item-icon {
						font-weight: bold;
						color: var(--theme-primary, $primary);
					}

					@media (max-width: $md) {
						margin-right: unset;
					}
				}
			}

			#info-section-wwm-button {
				-webkit-animation: slide-in-blurred-left $animation-length both;
				animation: slide-in-blurred-left $animation-length both;

				@media (max-width: $md) {
					width: 14rem;
					padding: 1.25rem 1.75rem;
				}
			}
		}

		.info-quick-links-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@media (max-width: $md) {
				align-items: center;
			}

			#info-quick-link-item-location {
				-webkit-animation: slide-in-left $animation-length both;
				animation: slide-in-left $animation-length both;

				.info-map-pin-icon {
					height: 1rem;
					width: 1rem;
					color: var(--theme-primary, $primary);
					transition: 0.5s, color;

					@media (max-width: $md) {
						display: none;
					}
				}

				@media (max-width: $md) {
					font-size: 1rem;
				}
			}

			.info-quick-link-list {
				display: flex;
				justify-content: flex-start;
				gap: 2rem;

				@media (max-width: $md) {
					justify-content: space-between;
				}

				.info-quick-link-list-item {
					display: flex;
					align-items: flex-end;
					font-weight: 500;
					cursor: pointer;
					text-transform: uppercase;

					span {
						text-align: center;
					}

					.info-quick-link-item-icon {
						height: 3rem;
						width: 3rem;
						color: var(--theme-primary, $primary);
						transition: color 0.5s;
						-webkit-animation: roll-in-blurred-left $animation-length both;
						animation: roll-in-blurred-left $animation-length both;
						animation-delay: 0.65s;

						span {
							line-height: 100%;
						}
					}
				}

				.info-github-icon:hover {
					color: #e1306c;
				}

				.info-linkedin-icon:hover {
					color: $linkedin-primary;
				}

				.info-pinterest-icon:hover {
					color: $pinterest-primary;
				}
			}
		}
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-8 2:43:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes roll-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-8 2:36:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slide-in-left {
	0% {
		-webkit-transform: translateX(-1000px);
		transform: translateX(-1000px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
		opacity: 1;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2024-2-8 2:48:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) scaleY(1) scaleX(1);
		transform: translateX(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes slide-in-blurred-left {
	0% {
		-webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0) scaleY(1) scaleX(1);
		transform: translateX(0) scaleY(1) scaleX(1);
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
