@import "src/styles/constants.scss";

#info-section {
	@apply relative text-primary w-full
	flex items-center justify-center;

	@screen md {
		@apply justify-center;
	}

	#info-section-content {
		@apply flex flex-col justify-center gap-12;

		@screen md {
			@apply relative justify-center p-0 gap-[2rem];
		}

		@screen xs {
			@apply p-0;
		}

		#info-section-title-wrapper {
			@apply flex flex-col items-start gap-4;

			@screen lg {
				@apply items-center gap-2;
			}

			#info-section-title {
				animation: slide-in-left $animation-length both;
				@apply text-6xl font-medium m-0 leading-tight 
				tracking-wider;

				@screen md {
					@apply text-4xl;
				}
			}

			#info-section-subtitle {
				animation: slide-in-left $animation-length both;
				@apply text-2xl m-0 font-medium text-left;

				@screen md {
					@apply text-xl text-center;
				}

				@screen xs {
					@apply text-lg;
				}
			}
		}

		#info-portfolio-wrapper {
			@apply flex flex-col justify-between;

			@screen lg {
				@apply justify-center items-center;
			}

			#info-portfolio-items {
				@apply flex flex-col gap-4;

				@screen md {
					@apply gap-4;
				}

				@screen sm {
					@apply items-start;
				}

				@screen xxs {
					@apply gap-2;
				}

				.info-portfolio-item {
					@apply relative
						inline-flex justify-start gap-2 items-center
						cursor-pointer mr-auto font-medium leading-tight 
						tracking-wider text-xl;

					animation: slide-in-left $animation-length both;

					.info-portfolio-item-icon {
						@apply font-bold text-primary;
					}

					@screen md {
						margin-right: unset;
					}

					@screen xs {
						@apply text-lg;
					}
				}
			}

			.info-section-wwm-button {
				-webkit-animation: slide-in-blurred-left $animation-length both;
				animation: slide-in-blurred-left $animation-length both;

				@apply px-4 py-4 mt-8 mb-0;

				@screen lg {
					@apply text-base w-[14rem] px-4 py-6;
				}

				@screen md {
					@apply py-3 px-3 text-base;
				}

				@screen sm {
					@apply px-4 py-4 text-sm;
				}

				@screen xxs {
					@apply px-3 py-3;
				}
			}
		}

		.info-quick-links-wrapper {
			@apply flex flex-col gap-4;

			@screen lg {
				@apply items-center;
			}

			#info-quick-link-item-location {
				animation: slide-in-left $animation-length both;
				@apply inline-flex items-center text-center gap-2 text-lg font-medium;

				.info-map-pin-icon {
					@apply h-4 w-4 text-primary transition-colors duration-500;
				}
			}

			.info-quick-link-list {
				@apply flex justify-start gap-8;

				@screen md {
					@apply justify-between;
				}

				.info-quick-link-list-item {
					@apply flex justify-end font-medium cursor-pointer;

					span {
						@apply text-center;
					}

					.info-quick-link-item-icon {
						@apply h-12 w-12 text-primary transition-colors duration-500;
						-webkit-animation: roll-in-blurred-left $animation-length both;
						animation: roll-in-blurred-left $animation-length both;

						span {
							@apply leading-normal;
						}
					}
				}

				.info-github-icon:hover {
					@apply text-[#0e1117]
				}

				.info-linkedin-icon:hover {
					@apply text-linkedin-primary;
				}

				.info-figma-icon:hover {
					@apply text-figma-primary;
				}

				.info-pinterest-icon:hover {
					@apply text-pinterest-primary;
				}

				.info-instagram-icon:hover {
					@apply text-instagram-primary;
				}
			}
		}
	}
}
