@import "/src/styles/colors.scss";
@import "src/styles/constants.scss";

#info-section {
	@apply relative text-primary flex justify-start items-start flex-[50%];
	@apply lg:flex-[55%];
	@apply md:justify-center md:p-0 md:flex-[100%];

	#info-section-content {
		@apply flex flex-col gap-12
		fixed h-full px-36 py-48;

		@screen xl {
			@apply p-20;
		}

		@screen lg {
			@apply px-[2rem] pr-0;
		}

		@screen md {
			@apply relative justify-center p-0 gap-[2rem];
		}

		@screen xs {
			@apply p-0;
		}

		#info-section-title-wrapper {
			@apply flex flex-col items-start gap-4;

			@screen md {
				@apply items-center;
			}

			#info-section-title {
				animation: slide-in-left $animation-length both;
				@apply text-6xl font-medium m-0 leading-tight text-center
				tracking-wider;

				@screen lg {
					@apply text-2xl;
				}

				@screen xs {
					@apply gap-4;
				}
			}

			#info-section-subtitle {
				animation: slide-in-left $animation-length both;
				@apply text-2xl m-0 font-medium text-center;

				@screen lg {
					@apply text-2xl;
				}

				@screen md {
					@apply text-xl;
				}

				@screen sm {
					@apply text-xl;
				}

				@screen xs {
					@apply text-lg;
				}
			}
		}

		#info-portfolio-wrapper {
			@apply flex flex-col justify-between;

			@screen md {
				@apply justify-center items-center;
			}

			#info-portfolio-items {
				@apply flex flex-col gap-8;

				@screen md {
					@apply items-center;
				}

				@screen sm {
					@apply items-start;
					@apply gap-4;
				}

				@screen xxs {
					@apply gap-2;
				}

				.info-portfolio-item {
					@apply relative
						inline-flex justify-start gap-2 items-center
						cursor-pointer mr-auto font-medium leading-tight 
						tracking-wider text-lg;

					animation: slide-in-left $animation-length both;

					.info-portfolio-item-icon {
						@apply font-bold text-primary;
					}

					@screen md {
						margin-right: unset;
					}

					@screen xs {
						@apply text-lg;
					}
				}
			}

			.info-section-wwm-button {
				-webkit-animation: slide-in-blurred-left $animation-length both;
				animation: slide-in-blurred-left $animation-length both;

				@apply px-4 py-4 mt-8 mb-0;

				@screen lg {
					@apply text-base w-[14rem] px-4 py-6;
				}

				@screen sm {
					@apply px-4 py-4 text-sm;
				}

				@screen xxs {
					@apply px-3 py-3;
				}
			}
		}

		.info-quick-links-wrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			@media (max-width: $md) {
				align-items: center;
			}

			#info-quick-link-item-location {
				animation: slide-in-left $animation-length both;
				display: inline-flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1.25rem;

				.info-map-pin-icon {
					height: 1rem;
					width: 1rem;
					color: $primary;
					transition: 0.5s, color;

					@media (max-width: $md) {
						display: none;
					}
				}

				@media (max-width: $md) {
					font-size: 1rem;
				}
			}

			.info-quick-link-list {
				display: flex;
				justify-content: flex-start;
				gap: 2rem;

				@media (max-width: $md) {
					justify-content: space-between;
				}

				.info-quick-link-list-item {
					display: flex;
					align-items: flex-end;
					font-weight: 500;
					cursor: pointer;
					text-transform: uppercase;

					span {
						text-align: center;
					}

					.info-quick-link-item-icon {
						height: 3rem;
						width: 3rem;
						color: $primary;
						transition: color 0.5s;
						-webkit-animation: roll-in-blurred-left $animation-length both;
						animation: roll-in-blurred-left $animation-length both;
						animation-delay: 0.65s;

						span {
							line-height: 100%;
						}
					}
				}

				.info-github-icon:hover {
					color: #0e1117;
				}

				.info-linkedin-icon:hover {
					color: $linkedin-primary;
				}

				.info-pinterest-icon:hover {
					color: $pinterest-primary;
				}

				.info-instagram-icon:hover {
					color: $instagram-primary;
				}
			}
		}
	}
}
